body {
    font-family: Arial, sans-serif, "Gill Sans", "Gill Sans MT", "Trebuchet MS",
        "Times New Roman", Times, serifs;
    margin: 0;
    padding: 100px;
    background-color: #f8e5d6;
}
header,
footer {
    background-color: #f5ac3f;
    color: white;
    margin: 0;
    padding: 11px 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*
    Este valor (1000), aunque se puede encontrar en internet, no es necesario
    puedes usar un 99 o incluso 9 y no deberias tener problemas.
    */
    z-index: 1000;
}
header img {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}
nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ff5722;
    padding: 10px 0;
}
nav a,
footer a {
    top: 60px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}

/* Esto puede ser un id, porque solo esta una vez */
.logo {
    font-size: 34px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-box {
    border: 1px solid #f8e5d6;
    width: 60%;
    padding: 2px;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    text-align: center;
}
.subcontent-box {
    border: 1px transparent #f8e5d6;
    padding: 1px;
    margin: 1px 0;
    background-color: #f8e5d6;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS";
    text-align: justify;
}
.subcontent-box h4 {
    color: #d84315;
}
.content-box1 {
    display: inline-block;
    border: 1px solid #cccccc;
    width: 350px;
    padding: 5px;
    margin: 2px 0;
    text-align: center;
}
.container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-box2 {
    border: 1px transparent #cccccc;
    background-color: #f5ac3f;
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
}
.al-lado-del-segundo {
    border: 1px solid #ccc;
    width: 69%;
    padding: 5px;
    margin: 5px 0;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.cuadrito1 {
    border: 1px solid #52a924;
    background-color: #52a924;
    width: 200px;
    margin: 1px;
    margin-left: 300px;
    padding: 0;
    text-align: center;
}
.cuadrito1 h2 {
    color: #cccccc;
}

.al-lado-del-segundo h3,
.al-lado-del-tercero h3 {
    text-align: justify;
    margin: 5px;
}
.al-lado-del-segundo h2,
.al-lado-del-tercero h2 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 2px;
}

.container3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-box3 {
    border: 1px transparent #cccccc;
    background-color: #f5ac3f;
    width: 300px;
    padding: 10px;
    margin: 5px 0;

    text-align: center;
}
.content-box3 img {
    width: 275px;
    height: 100%;
}

.al-lado-del-tercero {
    border: 1px solid #ccc;
    width: 69%;
    padding: 5px;
    margin: 5px 0;
}

.cuadrito2 {
    display: inline-block;
    border: 1px solid #52a924;
    background-color: #52a924;
    text-align: center;
    /*
    Justify content es una propuedad de display flex
    si no lo es, esto es ignorado
    */
    justify-content: center;
    width: 200px;
    margin: 5px;
    margin-left: 120px;
}

.content-boxfinal {
    display: inline-block;
    width: 60%;
}
.content-boxfinal img {
    /*
    Justify content es una propuedad de display flex
    si no lo es, esto es ignorado
    */
    justify-content: center;
}
